.hero {
  background-image: url('../images/app-header.jpg');
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-image {
  text-align: center;
}

h2 {
  font-size: 4em;
}

h4 {
  font-size: 1.25em;
  text-align: center
}

.featured-flex {
  display: flex;
  justify-conent: space-around;
  align-items: center;
  align-content: center;
}

.image-details img {
  width: 25vw;
}
