.main-nav {
  background-color: #000;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 5vw;
  width: 100%;
}

.nav-ul a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-size: .95em;
  font-weight: 100;
}
.hglkids-logo {
  width: 3.25vw;
}

.nav-ul a:hover {
  color: #bdc3c7;
}

.footer {
  background-color: #000;
  margin-top: -4%;
  height: 9vw;
  color: #fff;
}
