* {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.cat-hero {
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1%;
}

#clothes-hero {
  background-image: url('../images/header-clothes.jpg');
}

#dolls-hero {
  background-image: url('../images/header-dolls.jpg');
}

#toys-hero {
  background-image: url('../images/header-toys.jpg');
}

#weather-hero {
  background-image: url('../images/header-weather.jpg');
  height: 45vw;
}

#holiday-hero {
  background-image: url('../images/header-holiday.jpg');
}

#about-hero {
  background-image: url('../images/happy.png');
}

.about-page-text {
  width: 70%;
}

.about-page-text div {
  padding: 0% 0% 2% 0%;
}

.about-page-text h4 {
  font-size: 1.75em;
}

.about-page-text p {
  font-size: 1.5em;
}

.holiday-hero-text {
  color: #fff;
  text-align: center;
  padding-top: 12%;
  font-size: 1.75em;
}

.dolls-hero-text {
  color: #fff;
  padding-top: 25%;
  text-align: center;
}
.clothes-hero-text {
  color: #00cdcd;
  padding-top: 25%;
  text-align: center;
}

.weather-hero-text h6 {
  font-weight: 400;
  font-size: 2.25em;
  color: #fff;
  text-align: right;
  padding: 2% 5% 0% 0%;
}

.product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65vh;
}
.clothes-product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
}
.dolls-product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}
.cat-product img {
  width: 30vw;
}
.cat-product-target img {
  width: 18vw;
}
.cat-product-target, h4 {
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.form-headline h4 {
  text-align: center;
  font-size: 1.75em;
}

.contact-form {
  width: 50%;
  margin-top: 2%;
}

.contact-form div {
  margin-top: 1%;
}

.contact-form label {
  font-size: 1.5em;
  padding-top: 2%;
}

.contact-form input {
  padding: 1%;
  width: 40%;
  font-size: 1.25em;
}
textarea {
  width: 60%;
  font-size: 1.25em;
}

#submit {
  padding: 2%;
  width: 20%;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5%;
}
